body {
    height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 0px;
}

header, footer, .banner {
    display: flex;
    background-color: #1F2937;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 10px 75px 0 75px;
}

.header-logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.banner {
    justify-content: space-around;
    padding: 75px;
    gap: 20px
}

.banner-content > h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.banner-content > p, footer > p, .header-link > a, .banner-img {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
}

.banner-img {
   padding: 60px;
   background-color: rgba(104, 104, 104, 0.75);
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 3px;
    padding: 5px 20px;
    font-weight: bold;
}

.banner-button {
    border: 0;
    margin-top: 10px;
}

.top-heading {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 30px;
}

.top-tiles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    padding: 0 75px 75px 75px;
}

.box {
    border-color: #3882f6;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 125px;
    height: 125px;
}

.tile-info {
    width: 125px;
    height: auto;
    text-align: center;
    margin-top: 5px;
}

footer {
    justify-content: center;
    padding: 20px;
}